#editArticles {
  background-color: #f9fafb;
  border: 2rem solid #fff;
  width: 98vw;
  margin: 8rem auto 5rem;
  height: fit-content;
  padding: 5rem 1rem;
}

#allArticlesMainBodyContent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 50%);
  width: 70%;
  height: fit-content;
  height: 70vh;
  margin: auto;
  gap: 0.1rem;
  /* background-color: #fff; */
  margin-top: 3rem;
}
.articleTitles {
  overflow: hidden;
  flex-grow: 1;
}
.articleItemSm {
  grid-column: span 1;
  background-color: #fff;
  padding: 1rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  border: 0.1rem solid #e5e7eb;
}
.articleItemBg {
  border: 0.1rem solid #e5e7eb;
  grid-column: span 2;
  padding: 1rem;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.articleImgCnt {
  height: 50%;
  position: relative;
}
.articleImgCnt img,
.articleImageCntBg img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.articleImageCntBg {
  width: 100%;
  height: 100%;
}

.articleImgCnt i {
  position: absolute;
  bottom: 0.7rem;
  right: 0.7rem;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
}
.articleTitles h3:nth-of-type(1) {
  font-size: 1.3rem;
}
.articleTitles h3 {
  font-size: 1.45rem;
  font-weight: 600;
  cursor: pointer;
}
.articleTitles h3:nth-of-type(2) {
  line-height: 2.08rem;
  text-overflow: ellipsis;
  overflow: scroll;
  height: 5rem;
  height: 100%;
}
.articleTitles h3:nth-of-type(2)::-webkit-scrollbar,
.articleItemFetchTitles h3:nth-of-type(2)::-webkit-scrollbar,
.editBundler::-webkit-scrollbar,
.addingBundler::-webkit-scrollbar {
  display: none;
}
.articleFooter {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}
.articleFooter span:nth-of-type(1) {
  color: #9ca3af;
}
.articleFooter span:nth-of-type(2) {
  /* display: none; */
  color: #9ca3af;
}
.articleFooter span:nth-of-type(2) i:nth-of-type(1) {
  margin-right: 0.1rem;
}
.articleFooter span:nth-of-type(2) i:nth-of-type(2) {
  margin-left: 0.5rem;
  margin-right: 0.1rem;
}
.articleItemBg {
  position: relative;
  padding: 0.8rem;
  cursor: pointer;
}
.articleItemBgHeader {
  position: absolute;
  bottom: 20%;
  font-size: 1.2rem;
  text-align: left;
  padding-left: 0.7rem;
  color: #fff;
  z-index: 2;
}
.articleItemBgFooter {
  font-size: 1.1rem;
  position: absolute;
  display: flex;
  height: 30%;
  background-color: black;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 30%,
    rgba(255, 255, 255, 0) 100%
  );
  padding: 0.8rem;
  justify-content: space-between;
  align-items: flex-end;
  bottom: 0.8rem;
  left: 0.8rem;
  right: 0.8rem;
  color: #fff;
}
.articleItemBgFooterBundle span:nth-of-type(1) {
  margin-right: 1rem;
}
.articleItemBgFooterBundle span:nth-of-type(1) i {
  margin-right: 0.25rem;
}
.articleItemBgFooterBundle span:nth-of-type(2) i {
  margin-right: 0.25rem;
}

.articleSubCnt {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 72.5% 27.5%;
  gap: 0.1rem;
  border: 0.1rem solid #e5e7eb;
  border-left: 0.1rem solid transparent;
  border-right: 0.1rem solid transparent;
  height: 20.4rem;
  /* border-right: 0.1rem solid #e5e7eb; */
  overflow: hidden;
}

.subLeft {
  grid-column: 1/2;
  display: grid;
  gap: 0.1rem;
  grid-template-columns: repeat(4, 1fr);
  border-right: 0.1rem solid #e5e7eb;
  border-left: 0.1rem solid #e5e7eb;
}
.subLeftItem {
  background-color: #fff;
  padding: 0.8rem;
  height: 20rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  text-align: left;
  border-left: 0.1rem solid #e5e7eb;
}
.subLeftItem:nth-of-type(1) {
  border-left: none;
}
.subLeftItemImg {
  height: 50%;
}
.subLeftItemImg img {
  width: 100%;
  height: 100%;
}
.subLeftItemText {
  font-size: 1.4rem;
  line-height: 1.6rem;
}
.subLeftItemText h3:nth-of-type(1) {
  margin: 0.3rem 0;
  font-size: 1.2rem;
}
.subLeftItemText h3:nth-of-type(2) {
  font-size: 1.2rem;
  overflow: scroll;
  height: 4.8rem;
}
.subLeftItemText h3:nth-of-type(2)::-webkit-scrollbar {
  display: none;
}
.subLeftItemBundle {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  color: #9ca3af;
  font-size: 1.1rem;
}
.subLeftBundleRight span:nth-of-type(1),
.subRightBundleRight span:nth-of-type(1) {
  margin-right: 0.5rem;
}
.subLeftBundleRight span:nth-of-type(2) i,
.subRightBundleRight span:nth-of-type(1) i,
.subRightBundleRight
  span:nth-of-type(2)
  i
  .subLeftBundleRight
  span:nth-of-type(1)
  i {
  margin-right: 0.25rem;
}
.subRight {
  /* border-left: 0.1rem solid #e5e7eb; */
  display: grid;
  gap: 0.25rem;
  grid-template-rows: repeat(2, 1fr);
  text-align: left;
  border-right: 0.1rem solid #e5e7eb;
  margin-right: 0.1rem;
}
.subRightItem {
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  cursor: pointer;
  border-bottom: 0.1rem solid #e5e7eb;
}
.subRightItem:nth-of-type(2) {
  border-bottom: none;
}
.subRightText h3 {
  color: #333;
  font-size: 1.2rem;
}
.subRightText h3:nth-of-type(2) {
  height: 5rem;
  overflow: scroll;
}
.subRightText h3:nth-of-type(2)::-webkit-scrollbar {
  display: none;
}
.subRightBundle {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  color: #9ca3af;
  font-size: 1.1rem;
}
#allArticlesBody {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
}
.allArticleItem img {
  width: 100%;
  height: 100%;
}
.allArticleItem {
  display: flex;
  width: 20rem;
  flex-direction: column;
}
.addArticle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 0.1rem solid #e5e7eb; */
  border-left: 0.1rem solid #e5e7eb;
  border-right: 0.1rem solid #e5e7eb;
  height: 100%;
}
.addArticleLeft {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.1rem solid #e5e7eb;
}
.addArticle i,
.addArticleLeft i {
  color: lightseagreen;
  cursor: pointer;
  font-size: 2rem;
  border-radius: 50%;
  border: 0.2rem solid lightseagreen;
  padding: 2rem;
  transition: color 0.2s ease-in, border-color 0.2s ease-in;
}
.addArticleBg {
  grid-column: span 2;
}
.addArticle i:hover,
.addArticleLeft i:hover {
  color: rgb(15, 85, 81);
  border-color: rgb(15, 85, 81);
}
#allArticlesHeader {
  background-color: #fff;
  border-radius: 0.3rem;
  width: 50vw;
  padding: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 50vh;
  overflow-y: scroll;
}
#allArticlesItems {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: 0.1rem solid #e5e7eb;
  margin-top: 2rem;
  padding: 1rem;
}
.articleFetchItem {
  border: 0.1rem solid #e5e7eb;
  padding: 0.8rem;
  margin-right: 1rem;
  text-align: left;
  width: 10rem;
  cursor: pointer;
  margin-top: 1rem;
  height: fit-content;
  height: 20rem;
  display: flex;
}
.articleFetchItem a {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.articleFetchItemImgCnt {
  width: 100%;
  height: 30%;
}
.articleFetchItemImgCnt img {
  width: 100%;
  height: 100%;
}
.articleItemFetchFooter {
  display: flex;
  justify-content: space-between;
  color: #9ca3af;
  font-size: 0.9rem;
}
.articleItemFetchBundle span:nth-of-type(2) {
  margin-left: 0.25rem;
}
.articleItemFetchBundle i {
  font-size: 0.8rem;
}
.articleItemFetchTitles {
  font-size: 0.9rem;
  /* overflow-y: hidden; */
  /* text-overflow: ellipsis; */
}
.editBundler,
.addingBundler {
  flex-grow: 1;
  overflow-y: scroll;
}
.addingBundler {
  margin-bottom: 0.5rem;
}
.articleItemFetchTitles h3:nth-of-type(2) {
  text-overflow: ellipsis;
  overflow: scroll;
  height: 100%;
}
#fetchBtn {
  cursor: pointer;
  margin-left: 1rem;
  padding: 0.15rem;
  font-size: 1.2rem;
}
.articleItemFetchTitles h3 {
  font-weight: 500;
}
.articleItemFetchTitles h3:nth-of-type(1) {
  font-size: 1rem;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: 700;
}
#saveChanges {
  margin-top: 1rem;
}
#saveChanges button {
  padding: 0.2rem 0.5rem;
  background-color: #fff;
  outline: none;
  border: 0.1rem solid #9ca3af;
  border-radius: 0.3rem;
  cursor: pointer;
  width: 20rem;
  transition: background-color 0.2s ease-in;
}
#saveChanges button:hover {
  background-color: #c6cedd;
}
#chooseModeCnt {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  font-size: 1.3rem;
  -moz-user-select: none;
  -webkit-user-select: none;
}
#chooseModeCnt input:nth-of-type(1),
#chooseModeCnt input:nth-of-type(2) {
  margin-right: 0.4rem;
}
#chooseModeCnt label:nth-of-type(1) {
  margin-right: 1rem;
}
#chooseModeCnt input:nth-of-type(3) {
  margin-left: 1rem;
  margin-right: 0.4rem;
}
.empty {
  background-color: #fff;
  border: 0.1rem solid #e5e7eb;
}
.emptyBg {
  grid-column: span 2;
  background-color: #fff;
  border: 0.1rem solid #e5e7eb;
}
.emptySub {
  background-color: #fff;
  border-left: 0.1rem solid #e5e7eb;
  border-right: 0.1rem solid #e5e7eb;
}

.subRight .emptySub:nth-of-type(1),
.subRight .addArticle:nth-of-type(1) {
  border-bottom: 0.1rem solid #e5e7eb;
  border-right: 0.1rem solid #e5e7eb;
  margin-right: 0.1rem;
}
.subRight .emptySub:nth-of-type(2),
.subRight .addArticle:nth-of-type(2) {
  border-top: 0.1rem solid #e5e7eb;
  margin-right: 0.1rem;
  border-right: 0.1rem solid #e5e7eb;
}
